{% extends 'main.html' %}

<!DOCTYPE html>

{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body>
        {% block content %}

        <style>
            table {
                margin: 1%;
                text-align: center;
            }

            th {
                padding: 5px;
                border: 1px solid black;
            }

            tr {
                padding: 5px;
                border: 1px solid black;
            }

            td {
                padding: 5px;
                border: 1px solid black;
            }
        </style>

        <H2>Wellcome to Website.</h2>

        <table>
            <tr>
                <!-- <th>ID</th> -->
                <th>Project</th>
                <th>Votes</th>
                <th>Positive Votes</th>
                <th>Created</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {% for x in work %}
            <tr>
                <!-- <td>{{x.id}}</td> -->
                <td>{{x.title}}</td>
                <td>{{x.vote_total}}</td>
                <td>{{x.vote_ratio}}</td>
                <td>{{x.created}}</td>
                <td><a href="{% url 'second' x.id %}">🙈</a></td>
                <td><a href="{% url 'update-project' x.id %}">✒️</a></td>
                <td><a href="{% url 'delete-project' x.id %}">🗑️</a></td>
            </tr>
            {% endfor %}

        </table>

        {% endblock %}

    </body>

</html>