{% extends "main.html" %}

<!DOCTYPE html>

{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Form</title>
    </head>


    <body>

        {% block content %}
        <style>
            .form {
                display: flex;
                background-color: lightgrey;
                flex-direction: column;
                text-align: center;
                padding: 20px;
                border: 1px solid black;
                border-radius: 10px;
                width: 30%;
                margin: 0 auto;
                margin-bottom: 1%;
            }
        </style>

        <h2>User Profiles</h2>
        <a href="{% url 'createprofile' %}">Add Profile</a>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{profile_page.as_p}}
            <input type="submit">
        </form>
        {% endblock %}
    </body>

</html>